%H1 Kontakt & Impressum

%H3 Kontaktdaten Sylvesterlauf Organisationsteam

%address
  %strong 
    Anita & Jürgen Wehren
    %br
  Hevelingstr. 41
  %br
  47574 Goch
  %br
%br

Tel (02823) 87 97 86
%br
Fax (02823) 87 97 89
%br
%br


Internet: 
%a{href: "http://www.sylvesterlauf.de"} www.sylvesterlauf.de
%br
eMail: 
%a{href: "mailto:info@sylvesterlauf.de"}info@sylvesterlauf.de
%br
Visitenkarte: 
%a{href: "/sylvesterlaufteam.vcf"} Download für Ihr Outlook/Handy
%br
%br

%p Wir bemühen uns, alle Angaben und Daten auf ihrer Website nach bestem Wissen regelmäßig zu pflegen und zu aktualisieren. Eine Haftung oder auch Gewähr für die Richtigkeit, Aktualität und Vollständigkeit der bereitgestellten Informationen ist jedoch ausgeschlossen. Dies gilt auch für alle sonstigen, durch Hyperlinks eingebundene Websites. Wir sind für den Inhalt dieser Websites nicht verantwortlich. Vielmehr liegt die redaktionelle Verantwortung für den Inhalt beim jeweiligen Anbieter. Beachten Sie bitte das jeweilige Impressum. Wir behalten uns das Recht vor, jederzeit ohne Vorankündigung änderungen und Ergänzungen der bereitgestellten Informationen vorzunehmen. 
%br
%br
Es gelten die gesetzlichen Copyright-Bestimmungen. 
%br


%H3 Konzeption / Layout / Umsetzung

Sylvesterlauf - EDV Team