.lead.text-center
  %h2 Herzlich Willkommen
  beim Internetauftritt zum Sylvesterlauf Pfalzdorf!
%br
=render :template => 'news/index'
%br
%br
%br
%br
Anzahl Meldungen: 
= Event.next_event.runner_counter
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
