%h2 Parken

%br/

.row
  .span3
    %p
      %b
        Streckenführung:
      %br/
      
    %br/
    %br/
  .span9
    %iframe{src: "/homepage/googlemaps?course=#{@course}", height:"80%", width:"100%", frameborder:"0", scrolling:"no"}